.table_O{
    width: 50%;
    background-color: rgb(25, 119, 182);
    text-align: center;
    border:solid 2px rgb(0, 0, 0);
    border-radius: 3px;
}
.thh{
    border:solid 2px rgb(90, 81, 81); ;
}
.tdd{
    border:solid 2px rgb(90, 81, 81);
}